---
---
@charset "utf-8";

@import
    "skeleton/config",
    "menu",
    "footer",
    "syntax-highlighting"
;

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,700,600&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,700,700italic,400italic&subset=latin,latin-ext);
$header-font-family: "Open Sans","Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-font-family:  "Merriweather",Garamond, Times,"Open Sans","Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;

$grey: #ddd;
$grey-dark: darken($grey, 30%);

$base-font-color: #222;
$base-font-size: 1.5em;

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}







body {
  font-family: $body-font-family;
}
h1,h2,h3,h4,h5,h6 {
  font-family: $header-font-family;
}

.main-content {
    @extend .container;
    padding-top: $navbar-line-height+2*$navbar-border-height+6rem;
}

ul.posts-list {
    list-style: none;
    margin-left: 0;
}

ul.posts-list p.meta {
    margin-bottom: 0;
    font-size: 1.3rem;
    color: lighten($base-font-color,20%)
}

// article > div {
//     @extend .row;
// }

.project-info {
    margin-top: 6rem;
}

footer {
    font-size: 1.3rem;
    border-top: 1px solid $grey;
    margin-top: 6rem;
}

footer .container {
    padding-top: 2rem;
}

footer ul {
    list-style: none;
    margin-left: 0;
}

.icon {

    > svg {
        display: inline-block;
        width: 20px;
        height: 20px;
        vertical-align: middle;

        path {
            fill: lighten($base-font-color,50%);
        }
    }
}




