$navbar-line-height: 4rem !default;
$navbar-border-height: 0.4rem !default;
$navbar-elem-spacing: 2rem !default;

$link-colors: (
  'red': #DD1E2F,
  'yellow': #EBB035,
  'green': #218559,
  'blue': #06A2CB,
  'beige': #D0C6B1,
  'black': #192823
) !default;

.navbar {
  display: none; }

/* Larger than tablet */
@media (min-width: 750px) {
  /* Navbar */
  .navbar + .docs-section {
    border-top-width: 0; }
  .navbar,
  .navbar-spacer {
  	position: fixed;
    font-family: $header-font-family;
  	top: 0;
  	left: 0;
    display: block;
    width: 100%;
    background: #fff;
    z-index: 99;
    border-top: $navbar-border-height solid $grey;
    border-bottom: 1px solid $grey-dark; 
    @include box-shadow(0,1px,2px,$grey-dark);
  }
  .navbar-spacer {
    display: none; 
  }
  .navbar-list {
    list-style: none;
    margin-bottom: 0;
  }
  .navbar-element {
    position: relative;
    margin-bottom: 0;
    font-weight: 700;
    letter-spacing: .2rem;
    line-height: $navbar-line-height;
    color: $base-font-color; 
  }
  .navbar-item {
    @extend .navbar-element;
    float: right;
  }
  .navbar-item a {
    display: block;
    height: 100%;
    margin-left: $navbar-elem-spacing;
    padding-left: $navbar-elem-spacing;
    padding-right: $navbar-elem-spacing;
    border-bottom: $navbar-border-height solid transparent;
  }
  .navbar-item a:hover,
  .navbar-item a.active {
    color: gray;
    border-bottom: $navbar-border-height solid gray;
  }
  @each $cname,$color in $link-colors {
    .navbar-item a[data-color=#{$cname}]:hover,
    .navbar-item a[data-color=#{$cname}].active {
      color: darken($color, 10%);
      border-bottom: $navbar-border-height solid darken($color, 10%);   
    }
  }
  .navbar-logo {
    @extend .navbar-element;
    float: left;
    margin-right: $navbar-elem-spacing;
    font-size: 2srem;
    font-weight: 700;
    font-family: $header-font-family;
    margin-top: -0.5rem;
  }
  .navbar-logo a {
    color: $base-font-color;
    text-decoration: none;
  }
  .navbar-link {
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: $base-font-color;
  }
}