$navbar-line-height: 6rem !default;
$navbar-border-height: 1rem !default;
$navbar-elem-spacing: 2rem !default;
$mobile-menu-height: 10rem !default;

$link-colors: (
  'red': #DD1E2F,
  'yellow': #EBB035,
  'green': #218559,
  'blue': #06A2CB,
  'beige': #D0C6B1,
  'black': #192823
) !default;
