---
---
@charset "utf-8";

$grey: #ddd;
$grey-dark: darken($grey, 30%);

$base-font-color: #222;
$base-font-size: 2em;


@import
    "skeleton",
    "menu",
    "footer",
    "syntax-highlighting"
;


body {
  font-family: "Merriweather",Garamond, Times,"Open Sans","Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1,h2,h3,h4,h5,h6 {
  font-family: "Open Sans","Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.page-content {
    transition: top 0.2s;
    width: 100%;
    position: relative;
    background-color: white;
    top: $navbar-line-height+$navbar-border-height+0.5rem; 
}
.nav-trigger:checked ~ .page-content{
    top: {{ site.pages | size | minus: 2 }} * $navbar-line-height + {{ site.pages | size | minus: 2 }}*$navbar-border-height ;
    z-index: -1;
} 
.main-content {
    @extend .container;
    padding-top: 6rem;
}

ul.posts-list {
    list-style: none;
    margin-left: 0;
}

ul.posts-list p.meta {
    margin-bottom: 0;
    font-size: 1.6rem;
    color: lighten($base-font-color,20%)
}

article > div {
    @extend .row;
}

.project-info {
    margin-top: 6rem;
}

footer {
    font-size: 0.4*$base-font-size;
    border-top: 1px solid $grey;
    margin-top: 6rem;
}

footer .container {
    padding-top: 2rem;
}

footer ul {
    list-style: none;
    margin-left: 0;
}

.icon {

    > svg {
        display: inline-block;
        width: 20px;
        height: 20px;
        vertical-align: middle;

        path {
            fill: lighten($base-font-color,50%);
        }
    }
}




